body {
	background-color: white;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: black;
}


h1 {
	font-size: 2em;
	text-align: center;	
	padding: 0px;
}

h2 {
	font-size: 1.2em
	
}


table {
	
	margin: auto;
	
	border-width: 5px;
	border-style: solid;
	border-color: #71F25A;
	
	border-collapse: collapse;
	
	text-align: left;
	
	
}



th {
	border-width: 1px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: #60CC4E;
	vertical-align: middle;
	background-color: #71F25A;
	

}


	


td {
	padding: 0px 10px 0px 10px;
	margin: 0px 10px 0px 10px;
	vertical-align: text-top;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #71F25A;
	

}

tr {
	
	border: none;
	
}	

code {
	font-family: Arial, sans-serif;
	font-size: 1em;
	
	
}

.tralt {
	
	background-color: #F1F5E9;
	
	
	
}


