body {
	background-color: white;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: black;
}


h1 {
	font-size: 2em;
	text-align: center;	
	padding: 5px;
	margin: 10px 10px 25px 10px;
	font-weight: bold;
}

h2 {
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}


table {
	
	margin: auto;
	
	border-width: 5px;
	border-style: solid;
	border-color: #71F25A;
	
	border-collapse: collapse;
	
	text-align: left;
	
	
}



th {
	border-width: 1px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: #71F25A;
	vertical-align: middle;
	background-color: #71F25A;
	

}


	


td {
	padding: 0px 10px 0px 10px;
	margin: 0px 10px 0px 10px;
	vertical-align: text-top;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: #71F25A;
	

}

tr {
	
	border: none;
	
}	

code, pre {
	font-family: monospace;
	font-style: normal;
	font-size: 1em;
	
	
}

img {
	border-width: 0px;
}


.img {
	float: left;
	padding: 0px 10px 0px 0px;
}

.content {
	clear: both;
}


.tralt {
	
	background-color: #F1F5E9;

	
}


#x2 {
	width: 520px;
	
	
}


#thwrap {
	border-width: 10px;
	border-color: Black;
	border-collapse: collapse;
	colspan: 4;
	padding: 5px;
	margin: 5px;
		
}


	
	
